:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --add-color: #757575;
  --back-color: #2f303a;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: Roboto, sans-serif;
}
.hero-studio {
  background-color: var(--back-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.accent-logo {
  color: var(--accent-color);
}
.logo {
  color: #000;
  font-family: Raleway, serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo-footer {
  color: #fff;
}
.nav-link,
.header-contacts-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover,
.header-contacts-link:hover,
.address-contacts-link:hover,
.address-map-link:hover {
  color: var(--accent-color);
}
.nav-link {
  color: var(--main-color);
}
.header-contacts-link {
  color: var(--add-color);
}
.main-title {
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.main-button {
  font-family: inherit;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.main-traits-title {
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.main-traits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.work-title,
.team-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-worker {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-speciality {
  font-size: 16px;
  letter-spacing: 0.48px;
}
.address-map-link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.main-traits-title,
.work-title,
.team-title,
.hero-proj-title {
  color: var(--main-color);
}
.main-traits-text,
.team-speciality,
.address-contacts-link,
.hero-proj-type {
  color: var(--add-color);
}
.hero-sort-button {
  font-family: inherit;
  font-weight: 500;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.hero-sort-button:hover {
  color: #fff;
  background-color: var(--accent-color);
}
.hero-proj-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.hero-proj-type {
  line-height: 1.87;
  letter-spacing: 0.48px;
}
footer {
  background-color: var(--back-color);
}
