:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --add-color: #757575;
  --back-color: #2f303a;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  letter-spacing: 0.42px;
  font-family: Roboto, sans-serif;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}
.hero-studio {
  padding: 200px 0;
  background-color: var(--back-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.accent-logo {
  color: var(--accent-color);
}
.logo {
  margin-right: 93px;
  color: #000;
  font-family: Raleway, serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo-footer {
  color: #fff;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link,
.header-contacts-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:hover,
.header-contacts-link:hover,
.address-contacts-link:hover,
.address-map-link:hover {
  color: var(--accent-color);
}
.nav-link {
  color: var(--main-color);
}
.contacts-list {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
.header-contacts-link {
  color: var(--add-color);
}
.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.main-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.main-button:hover,
.main-button:focus {
  cursor: pointer;
}
.main-traits {
  padding: 94px 0;
}
.main-traits-list {
  display: flex;
  gap: 30px;
}
.main-traits-title {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.main-traits-text {
  font-size: 14px;
  line-height: 1.71;
}
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  gap: 30px;
}
.work-title,
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-worker {
  margin-top: 30px;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-speciality {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.address {
  margin-top: 20px;
}
.address-item:nth-child(n + 2) {
  margin-top: 9px;
}
.address-map-link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}
.address-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}
.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-traits-title,
.work-title,
.team-title,
.hero-project-title {
  color: var(--main-color);
}
.main-traits-text,
.team-speciality,
.address-contacts-link,
.hero-project-type {
  color: var(--add-color);
}
.hero-sort-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.hero-sort-button {
  font-family: inherit;
  font-weight: 500;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.hero-sort-button:hover,
.hero-sort-button:focus {
  color: #fff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.hero-project-item {
  border: 1px solid #eee;
}
.hero-project-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.hero-project-type {
  margin-bottom: 20px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.footer {
  padding: 60px 0;
  background-color: var(--back-color);
}
