:root {
    --main-color:#212121;
    --accent-color:#2196F3;
    --add-color:#757575;
    --back-color:#2F303A;
}
.hero {
    background-color: var(--back-color);
}
footer {
    background-color: var(--back-color);
}