:root {
	--main-color: #212121;
	--accent-color: #2196f3;
	--add-color: #757575;
	--back-color: #2f303a;
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
	padding: 0;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
body {
	letter-spacing: 0.42px;
	font-family: Roboto, sans-serif;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
	width: 1200px;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.address {
	font-style: normal;
}
.header {
	padding-top: 24px;
	padding-bottom: 25px;
}
.header-container {
	display: flex;
	align-items: center;
}
.accent-logo {
	color: var(--accent-color);
}
.logo {
	margin-right: 93px;
	color: #000;
	font-family: Raleway, serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.78px;
}

.logo-footer {
	color: #fff;
}
.nav-list {
	display: flex;
	gap: 50px;
}
.nav-link,
.header-contacts-link {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.28px;
}
.nav-link:hover,
.header-contacts-link:hover,
.address-contacts-link:hover,
.address-map-link:hover {
	color: var(--accent-color);
}
.nav-link {
	color: var(--main-color);
}
.contacts-list {
	margin-left: auto;
	display: flex;
	gap: 50px;
}
.header-contacts-link {
	display: flex;
	gap: 10px;
	color: var(--add-color);
}
.header-contacts-icon {
	fill: var(--add-color);
}
.header-contacts-link:hover .header-contacts-icon,
.header-contacts-link:focus .header-contacts-icon {
	fill: var(--accent-color);
}
.hero-studio {
	padding: 200px 0;
	background-image: linear-gradient(to left, #2f303a66, #2f303a66), url(../images/bg_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main-title {
	margin-bottom: 30px;
	font-weight: 900;
	color: #fff;
	text-align: center;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 2.64px;
	text-transform: uppercase;
}
.main-button {
	display: block;
	margin: 0 auto;
	padding: 10px 32px;
	border-color: transparent;
	border-radius: 4px;
	font-family: inherit;
	color: #fff;
	background-color: var(--accent-color);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.96px;
}
.main-button:hover,
.main-button:focus {
	opacity: 0.9;
	cursor: pointer;
}
.main-traits {
	padding: 94px 0;
}
.main-traits-list {
	display: flex;
	gap: 30px;
}
.main-traits-item {
	flex-basis: calc((100% - 3 * 30px) / 4);
}
.main-traits-item::before {
	content: "";
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4px;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
.main-traits-item:nth-child(1)::before {
	background-image: url(../images/traits_icon1.svg);
}
.main-traits-item:nth-child(2)::before {
	background-image: url(../images/traits_icon2.svg);
}
.main-traits-item:nth-child(3)::before {
	background-image: url(../images/traits_icon3.svg);
}
.main-traits-item:nth-child(4)::before {
	background-image: url(../images/traits_icon4.svg);
}
.main-traits-title {
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.main-traits-text {
	font-size: 14px;
	line-height: 1.71;
}
.work {
	padding-bottom: 94px;
}
.work-list {
	display: flex;
	gap: 30px;
}
.work-item {
	position: relative;
}
.work-img-title {
	position: absolute;
	background-color: rgb(47, 48, 58, 0.8);
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.03em;
	padding: 27px 0;
	color: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.team {
	padding: 94px 0;
	background-color: #f5f4fa;
}
.team-list {
	display: flex;
	gap: 30px;
}
.team-item {
	border-radius: 0px 0px 4px 4px;
	background-color: #fff;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.work-title,
.team-title,
.clients-title {
	margin-bottom: 50px;
	text-align: center;
	font-size: 36px;
	letter-spacing: 1.08px;
}
.team-box {
	padding: 30px 0;
}
.team-worker {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.48px;
	text-align: center;
}
.team-speciality {
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: 0.48px;
	text-align: center;
}
.team-icon-list {
	display: flex;
	margin-top: 16px;
	gap: 10px;
	justify-content: center;
}
.team-icon-link {
	display: flex;
	padding: 12px;
	border-radius: 50%;
}
.team-icon {
	fill: #afb1b8;
}
.team-icon-link:hover,
.team-icon-link:focus {
	background-color: var(--accent-color);
}
.team-icon-link:hover .team-icon,
.team-icon-link:focus .team-icon {
	fill: #fff;
}
.clients {
	padding: 94px 0;
}
.clients-list {
	display: flex;
	gap: 30px;
	justify-content: center;
}
.clients-link {
	display: flex;
	padding: 16px 32px;
	border: #afb1b8 solid 1px;
	border-radius: 4px;
}
.clients-icon {
	fill: #afb1b8;
}
.clients-link:hover,
.clients-link:focus {
	border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
	fill: var(--accent-color);
}
.footer .container {
	display: flex;
}
.address {
	margin-top: 20px;
}
.address-item:nth-child(n + 2) {
	margin-top: 9px;
}
.address-map-link {
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	line-height: 1.71;
}
.address-contacts-link {
	color: rgba(255, 255, 255, 0.6);
	font-family: inherit;
	font-size: 14px;
	line-height: 1.71;
}
.team-icon-link {
	display: flex;
	padding: 12px;
	border-radius: 50%;
}
.social-title {
	color: #fff;
}
.social-list {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
.social-icon {
	fill: #fff;
}
.social-link {
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	padding: 12px;
	border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
	background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: #fff;
}
.hero-portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}
.main-traits-title,
.work-title,
.team-title,
.hero-project-title {
	color: var(--main-color);
}
.main-traits-text,
.team-speciality,
.address-contacts-link,
.hero-project-type {
	color: var(--add-color);
}
.hero-sort-list {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}
.hero-sort-button {
	min-width: 73px;
	padding: 6px 22px;
	border-radius: 4px;
	border-color: transparent;
	font-family: inherit;
	font-weight: 500;
	color: var(--main-color);
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.48px;
}
.hero-sort-button:hover,
.hero-sort-button:focus {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
		0px 3px 1px 0px rgba(0, 0, 0, 0.1);
	color: #fff;
	background-color: var(--accent-color);
	cursor: pointer;
}
.hero-project-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.hero-project-item {
	border: 1px solid #eee;
	flex-basis: calc((100% - 2 * 30px) / 3);
}
.hero-project-item:hover,
.hero-project-item:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
		0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}
.project-box {
	padding: 20px 24px;
}
.hero-project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1.08px;
}
.hero-project-type {
	line-height: 1.87;
	letter-spacing: 0.48px;
}
.footer {
	padding: 60px 0;
	background-color: var(--back-color);
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.no-scroll {
	overflow: hidden;
}

.modal-order {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 530px;
	min-height: 580px;
	padding: 40px;
	background-color: white;
	transform: translate(-50%, -50%);
	border-radius: 4px;
}
.modal-close-btn {
	position: fixed;
	display: flex;
	padding: 10px;
	border-radius: 50%;
	border: rgba(0, 0, 0, 0.1) solid 1px;
	background-color: transparent;
	right: 8px;
	top: 8px;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
	cursor: pointer;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
	fill: var(--accent-color);
}
.modal-order-title {
	margin-bottom: 12px;
	font-size: 20px;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--main-color);
}
.modal-order-label {
	display: block;
	position: relative;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: var(--add-color);
}
.modal-order-label:not(:first-child) {
	margin-top: 10px;
}
.modal-order-input {
	margin-top: 4px;
	width: 100%;
	padding: 13px 0 13px 28px;
	border: rgba(33, 33, 33, 0.2) solid 1px;
	border-radius: 4px;
}
.modal-order-icon {
	position: absolute;
	left: 12px;
	bottom: 14px;
}
.modal-order-comment {
	margin-top: 4px;
	padding: 12px 16px;
	width: 100%;
	height: 120px;
	resize: none;
	border: rgba(33, 33, 33, 0.2) solid 1px;
	border-radius: 4px;
}
.modal-order-comment::placeholder {
	font-size: 12px;
	letter-spacing: 0.01em;
	color: var(--add-color);
}
.order-terms {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--add-color);
}
.order-terms-input {
	width: 15px;
	height: 15px;
}
.terms-link {
	text-decoration: underline;
	color: var(--accent-color);
}
.order-send-btn {
	display: block;
	margin: 30px auto 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
	color: #fff;
	padding: 10px 52px;
	background-color: var(--accent-color);
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0 5px 10px 0 var(--add-color);
}
.order-send-btn:hover, .order-send-btn:focus {
	opacity: 0.8;
	cursor: pointer;
}